.container-acronym-itv {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    font-size: smaller;
    background-color: white;
    height: 380px;
    width: 700px;
}
.header-acronym-itv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.word-acronym-itv{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
}
.word-acronym-itv span{
    color: #1bad17;
    background-color: gainsboro;
    border-radius: 30px;
    padding: 8px;
    font-size: 40px;
    margin-right: 20px;
    align-self: self-start;
}
.voice-acronym-itv{
    border-radius: 45px;
    background: gainsboro;
    padding: 8px;
}
.voice-acronym-itv img{
    height: 30px;
}
.logo-acronym-itv{
    border-radius: 30px;
    background: gainsboro;
    padding: 8px;
    align-self: flex-end;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.logo-acronym-itv img{
    height: 60px;
    padding-right: 20px;
    padding-left: 20px;
}
.label-acronym-itv{
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    background: gainsboro;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    padding: 8px;
    color: #1bad17;
    max-width: fit-content;
}

.acronym-itv{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: gainsboro;
    height: 200px;
    width: 600px;
    margin: 10px;
}

.acronym-itv div{
    display: flex;
    align-items: self-start;
    background-color: rgb(133, 245, 142);
    border-radius: 20px;
    font-size: 30px;
    margin-bottom: 6px;
    color: #1bad17;
    padding: 10px;
    height: 150px;
    width: 550px;
    text-align: left;
}
